<p id="notice"><%= notice %></p>

<h1><%= @beer_club.name %></h1>
<p>
  Founded <%= @beer_club.founded %>,
  is located at <%= @beer_club.city %>
</p>

<ul>
  <% @beer_club.users.each do |user| %>
    <li>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<p>Number of members: <%= @beer_club.memberships.count %> </p>

<% if current_user %>
<% unless current_user.beer_clubs.include?(@beer_club) %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit value:"join the club" %>
  <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
