<h1><%= @beer_club.name %></h1>
<p>
  Founded <%= @beer_club.founded %>,
  is located at <%= @beer_club.city %>
</p>

<%= render 'list', members: @confirmed, title:"Members", confirm:false %>

<%= render 'list', members: @unconfirmed, title:"Outstanding applications", confirm:true  %>

<% if current_user %>
<% unless current_user.beer_clubs.include?(@beer_club) %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit value:"join the club", class:"btn btn-primary"%>
  <% end %>
  <% end %>
<% end %>
<br>
<%= edit_and_destroy_buttons(@beer_club) %>
