<h1>
  <%= @user.username %>
</h1>

<% if @user.memberships.count == 0 %>
  <p>not a member in any clubs</p>
<% else %>
  <p>
    member of
    <% @user.memberships.each do |member| %>
      <%= link_to member.beer_club, beer_club_path(member.beer_club) %>
    <% end %>
  </p>
<% end %>

<p>favorite beer:
  <% if @user.favorite_beer.nil? %>
    none
  <% else %>
    <%= @user.favorite_beer.name %>
  <% end %>
</p>

<p>favorite style:
  <% if @user.favorite_style.nil? %>
    none
  <% else %>
    <%= @user.favorite_style %>
  <% end %>
</p>

<p>favorite brewery:
  <% if @user.favorite_brewery.nil? %>
    none
  <% else %>
    <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<% if @user.ratings.count == 0 %>
  <p>no contributions</p>
<% else %>
  <p>has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= round(@user.average_rating) %></p>

  <h3>ratings</h3>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
          <%= rating %>
          <% if @user == current_user %>
            <%= link_to 'Destroy', rating, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>

<%= edit_and_destroy_buttons(@user) %>

