<p id="notice"><%= notice %></p>

<h1><%= @style.name %></h1>

<p>
  <%= @style.description %>
</p>

<h4>beers</h4>
<ul>
  <% @style.beers.each do |b| %>
    <li><%= b %></li>
  <% end %>
</ul>

<% unless current_user.nil? %>
  <%= link_to 'Edit', edit_style_path(@style) %>
  <%= link_to 'Destroy', style_path, method:  :delete, data: {confirm: "Are you sure?" } %>
<% end %>
