<h2> <%= @beer.name %> </h2>
<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<% if @beer.ratings.empty? %>
  <p>Beer has not yet been rated!</p>
<% else %>
  <p>Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %></p>
 <% end %>

<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>

  <%= link_to 'Edit', edit_beer_path(@beer), class:"btn btn-primary" %>
  <%= link_to link_to('Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger") if current_user.admin?%>
<% end %>
